.first {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff; 
    background-image: linear-gradient(to right, rgb(126, 166, 247) , rgb(5, 3, 58));  
}
aside {
    width: 30%;
    padding: 15px;
    margin: 15px;
    float: left;
  }

h4 {
    padding: 20px;
    text-align: center;  
}
  